@model DIMS.Core.Entities.Box

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              @Model.Label | @Model.Campus.Name
        </div>
    </body>
</html>