@using AutoMapper
@using DIMS.Core.Entities
@using DIMS.UI.Models.Edit
@model DIMS.Core.Entities.Box


<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#northwoods" data-toggle="tab">Northwoods</a></li>
        <li><a href="#stPius" data-toggle="tab">St. Pius</a></li>
        <li><a href="#stRose" data-toggle="tab">St. Rose of Lima</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="northwoods">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createBoxModal">
                Create Box
            </button>
        </div>
        <div class="tab-pane fade" id="stPius">...</div>
        <div class="tab-pane fade" id="stRose">...</div>
    </div>
</div>

@Html.Partial("BoxForm", Mapper.Map<BoxForm>(new Box()))
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
