@model IEnumerable<Item>

@{
    ViewBag.Title = "Items";
}
<ul id="widgetList">
@foreach(var item in Model)
{
    <li>@(Html.ActionLink<ItemsController>(c => c.Index(item.Id),item.Name))</li>
}
</ul>